<mat-toolbar  class="example-toolbar background-primary text-light justify-content-between">
    <div class="d-flex">
        <mat-icon  (click)="menu.toggle()" class="fs-2 cursor-pointer menu-hover">menu</mat-icon>
        <h1 class="example-app-name ms-5">LawTech Task Manager</h1>
    </div>
     <div class="d-flex flex-column p-2">
        <span class="toolbar-font-size">Bem vindo(a) , {{user.Name}}</span>
        <span class="toolbar-font-size">Usuário criado em: {{user.CreatedDate | date: "dd/MM/yy HH:mm:ss" }}</span>
     </div>
</mat-toolbar>

<mat-sidenav-container 
    class="example-sidenav-container"
    [hasBackdrop]="false"
                         >
    <mat-sidenav #menu [mode]="'over'"
                  fixedTopGap="56"
                  class="text-center background-primary text-light">

      
      <mat-nav-list class="d-flex h-100 flex-column justify-content-between">
        <div class="d-flex justify-content-center flex-column align-items-center">
            <div class=" image-container mb-2">
                <img  [src]="user.ImageProfile ?? 'https://i.imgur.com/zazNU9r.png'">
            </div>
            <div class="mt-4 w-100">
                <a mat-list-item routerLink="/tasks" class="text-light item-hover"> <mat-icon  class="fs-2 icon">task</mat-icon> <span class="ms-3">Tarefas</span></a>
                <a *ngIf="user.roleName == 'Admin'" mat-list-item routerLink="." class="text-light item-hover"><mat-icon class="fs-2 icon">person</mat-icon><span class="ms-3">Usuários</span></a>
            </div>
        </div>
        <div class="d-flex">
            <a mat-list-item class="text-light item-hover"><mat-icon class="fs-3 icon">manage_accounts</mat-icon></a>
            <a mat-list-item class="text-light item-hover" (click)="logout()"><mat-icon class="fs-3 icon">logout</mat-icon></a>
        </div>
        
      </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>